<p-menubar [model]="headerItems">
    <ng-template pTemplate="start">

        <h3 class="page-icon custom-margin">
            PRJ321x
        </h3>
    </ng-template>


    <div>
        <p-dropdown [options]="categories"
                    [(ngModel)]="selectedCategory"
                    placeholder="Categories"
                    [ngClass]="'custom-margin'"
                    (onChange)="onChange($event)"></p-dropdown>

        <input type="text"
               pInputText
               [(ngModel)]="searchKeyword"
               [ngClass]="'custom-margin'" />


        <p-button icon="pi pi-search"
                  ngClass="custom-margin"
                  (onClick)="onSearch($event)"></p-button>



        <p-button styleClass="p-button-outlined"
                  routerLink="create-order">
            <i class="pi pi-shopping-cart text-xl"
               pBadge
               value="{{cartQuantity}}"></i>
        </p-button>



    </div>






</p-menubar>